<section
  class="location-section"
  id="contacto">

  <div class="container">


    <!-- Encabezado -->

    <div
      class="section-header"
      data-aos="fade-up">

      <span>
        NUESTRA UBICACIÓN
      </span>


      <h2>
        Siempre cerca de ti
      </h2>


      <p>
        Encuentra nuestra ubicación y contáctanos
        para solicitar tu servicio de transporte.
      </p>

    </div>




    <div class="location-grid">



      <!-- MAPA -->

      <div
        class="map-card"
        data-aos="fade-right">


        <div class="map-container">

          <iframe

            src="https://maps.google.com/maps?q=Quito%20Ecuador&t=&z=13&ie=UTF8&iwloc=&output=embed"

            loading="lazy">

          </iframe>

        </div>


      </div>






      <!-- INFORMACIÓN -->

      <div
        class="location-info"
        data-aos="fade-left">



        <span class="badge">

          🚐 DAMIAN PREMIUM Tours

        </span>



        <h3>

          Transporte ejecutivo
          seguro y confiable

        </h3>



        <p>

          Ofrecemos viajes privados,
          transfers al aeropuerto,
          viajes express y encomiendas
          hacia diferentes destinos.

        </p>





        <div class="info-cards">



          <div class="info-card">


            <i class="fa-solid fa-location-dot"></i>


            <div>

              <h4>

                Ubicación

              </h4>


              <span>

                Quito - Ecuador

              </span>


            </div>


          </div>





          <div class="info-card">


            <i class="fa-solid fa-car-side"></i>


            <div>

              <h4>

                Servicio

              </h4>


              <span>

                Transporte privado

              </span>


            </div>


          </div>





          <div class="info-card">


            <i class="fa-solid fa-clock"></i>


            <div>

              <h4>

                Atención

              </h4>


              <span>

                Disponible 24/7

              </span>


            </div>


          </div>




          <div class="info-card">


            <i class="fa-solid fa-shield-halved"></i>


            <div>

              <h4>

                Confianza

              </h4>


              <span>

                Viajes seguros

              </span>


            </div>


          </div>



        </div>





        <a

          class="map-button"

          href="https://maps.google.com"

          target="_blank">


          <i class="fa-solid fa-map-location-dot"></i>

          Abrir Google Maps


        </a>



      </div>



    </div>




    <!-- Pie informativo -->

    <div

      class="location-footer"

      data-aos="fade-up">


      <div>

        ⭐⭐⭐⭐⭐

        <strong>
          Servicio Premium
        </strong>

      </div>


      <p>

        Conectamos Quito con los principales destinos del Ecuador.

      </p>


    </div>



  </div>


</section>