<section id="inicio" class="hero">


  <div class="hero-background"></div>


  <div class="overlay"></div>


  <div class="container hero-content">


    <div 
    class="hero-text"
    data-aos="fade-up"
    data-aos-duration="1200">


      <div
      class="badge-company"
      data-aos="fade-down"
      data-aos-delay="200">


        <i class="fas fa-star"></i>


        <span>
          Transporte Ejecutivo Premium
        </span>


      </div>


      

      <h1
      data-aos="fade-up"
      data-aos-delay="400">

        Viaja cómodo,
        <span>
          seguro
        </span>
        y puntual.


      </h1>



      <p
      data-aos="fade-up"
      data-aos-delay="600">

        Servicio de transporte ejecutivo,
        traslados al aeropuerto,
        viajes privados, compartidos y encomiendas.


      </p>



      <div 
      class="hero-buttons"
      data-aos="fade-up"
      data-aos-delay="800">



        <a
        href="https://wa.me/593984638664"
        target="_blank"
        class="btn btn-gold">


          <i class="fab fa-whatsapp"></i>

          Solicitar por WhatsApp


        </a>




        <a
        href="#servicios"
        class="btn btn-outline-light">


          Ver Servicios


        </a>



      </div>


    </div>

    <div 
    class="hero-image"
    data-aos="fade-left"
    data-aos-delay="500">

    <img 
    src="../assets/images/hero/vehicle2.png"
    alt="DAMIAN PREMIUM Tours">

    </div>


  </div>


</section>