.hero{

position:relative;

height:100vh;

min-height:650px;

display:flex;

align-items:center;

overflow:hidden;

color:#053e7a;


}

.hero-background{

position:absolute;

inset:0;

z-index:0;


background:

linear-gradient(
120deg,
#ffffff 0%,
#dff6ff 35%,
#8ed8ff 65%,
#053e7a 100%
);


background-size:cover;

background-position:center;


}


@keyframes zoomBackground{

from{

transform:scale(1);

}


to{

transform:scale(1.08);

}

}




.overlay{

position:absolute;

inset:0;

z-index:1;


background:

linear-gradient(
90deg,
rgba(255,255,255,.65),
rgba(255,255,255,.10)
);

}




.hero-content{

position:relative;

z-index:3;

display:flex;

align-items:center;

justify-content:space-between;

gap:40px;

}



.hero-text{

max-width:750px;


}

.badge-company{


display:inline-flex;

align-items:center;

gap:10px;


padding:12px 25px;


border-radius:50px;


background:

rgba(255,255,255,.45);


border:

1px solid rgba(255,255,255,.8);


backdrop-filter:

blur(12px);


color:#053e7a;


font-weight:700;


font-size:15px;


box-shadow:

0 10px 30px rgba(5,62,122,.15);


position:relative;

overflow:hidden;


animation:

floating 3s ease-in-out infinite;



i{

color:#fbbf24;

font-size:18px;

}



}

.badge-company::before{


content:"";


position:absolute;

top:0;

left:-100%;


width:50%;

height:100%;


background:

linear-gradient(
120deg,
transparent,
rgba(255,255,255,.8),
transparent
);


transition:.8s;


}



.badge-company:hover::before{


left:150%;


}


@keyframes floating{


0%,
100%{

transform:translateY(0);

}


50%{

transform:translateY(-8px);

}


}




.hero h1{


font-size:70px;

line-height:1.1;

font-weight:800;


margin-bottom:25px;



span{

color:#0ea5e9;

}

}



.hero p{


font-size:21px;

line-height:1.7;

max-width:650px;

color:#334155;


}




.hero-buttons{


display:flex;

gap:20px;

margin-top:40px;


}





.btn{


padding:16px 35px;

border-radius:50px;

font-size:17px;

font-weight:700;

text-decoration:none;

display:flex;

align-items:center;

gap:10px;

transition:.4s;


}


.btn-gold{

background:#25D366 !important;

color:white !important;

text-decoration:none;


box-shadow:

0 10px 30px rgba(37,211,102,.35);



&:hover{

transform:translateY(-8px);

background:#1ebe5d !important;

color:white !important;


box-shadow:

0 20px 40px rgba(37,211,102,.55);

}


}



.btn-outline-light{

border:2px solid #053e7a;

color:#053e7a;


&:hover{

background:#053e7a;

color:white;

}

}






@media(max-width:900px){


.hero{

height:auto;

padding:140px 0;

}




.hero h1{

font-size:45px;

}



.hero p{

font-size:17px;

}



.hero-buttons{

flex-direction:column;

}


.btn{

justify-content:center;

}


}

.hero-content{

display:flex;

align-items:center;

justify-content:space-between;

gap:40px;

}



.hero-image{


width:70%;


img{

width:100%;

max-width:550px;


filter:
drop-shadow(0 25px 30px rgba(0,0,0,.25));


animation:

floatingCar 4s ease-in-out infinite;


}



}



@keyframes floatingCar{


0%{

transform:translateY(0);

}


50%{

transform:translateY(-15px);

}


100%{

transform:translateY(0);

}


}

@media(max-width:900px){

.hero-content{

flex-direction:column;

text-align:center;

}


.hero-image{

width:90%;

}


}