<section class="booking-banner">


  <div class="overlay"></div>


  <div 
    class="content"
    data-aos="zoom-in">


    <span>
      Reserva tu viaje
    </span>


    <h2>
      ¿Listo para viajar con nosotros?
    </h2>


    <p>
      Transporte privado seguro, cómodo y puntual.
      Estamos listos para llevarte a tu destino.
    </p>


    <a
      class="btn-whatsapp"
      [href]="whatsappLink"
      target="_blank">

      <i class="fa-brands fa-whatsapp"></i>

      Reservar ahora

    </a>


  </div>


</section>