<footer
  id="contacto"
  class="footer">


  <div class="container">


    <div class="footer-grid">



      <!-- EMPRESA -->

      <div
      class="footer-brand"
      data-aos="fade-up">


        <img
        src="assets/images/logo/logos.png"
        alt="DAMIAN PREMIUM Tours">


        <p>

          Transporte ejecutivo privado,
          seguro y confiable.
          Conectamos Quito con los principales
          destinos del Ecuador.

        </p>



        <div class="social-links">


          <a
          href="https://wa.me/593984638664"
          target="_blank">

            <i class="fa-brands fa-whatsapp"></i>

          </a>


          <a
          href="#">

            <i class="fa-brands fa-facebook"></i>

          </a>


          <a
          href="#">

            <i class="fa-brands fa-instagram"></i>

          </a>


        </div>


      </div>







      <!-- SERVICIOS -->

      <div
      class="footer-column"
      data-aos="fade-up">


        <h3>
          Servicios
        </h3>


        <ul>

          <li>
            Viajes compartidos
          </li>

          <li>
            Viajes privados
          </li>

          <li>
            Transfers aeropuerto
          </li>

          <li>
            Encomiendas
          </li>


        </ul>


      </div>








      <!-- DESTINOS -->

      <div
      class="footer-column"
      data-aos="fade-up">


        <h3>
          Destinos
        </h3>


        <ul>


          <li>
            Quito
          </li>


          <li>
            Latacunga
          </li>


          <li>
            Ambato
          </li>


          <li>
            Riobamba
          </li>


          <li>
            Baños
          </li>


        </ul>


      </div>








      <!-- CONTACTO -->

      <div
      class="footer-column contact-column"
      data-aos="fade-up">


        <h3>
          Contacto
        </h3>



        <ul>


          <li>

            <i class="fa-brands fa-whatsapp"></i>


            <a
            href="https://wa.me/593984638664"
            target="_blank">

              +593 98 463 8664

            </a>


          </li>





          <li>

            <i class="fa-solid fa-phone"></i>


            <a
            href="tel:+593984638664">

              098 463 8664

            </a>


          </li>





          <li>

            <i class="fa-solid fa-location-dot"></i>


            Quito - Ecuador


          </li>




          <li>

            <i class="fa-solid fa-clock"></i>


            Atención 24/7


          </li>



        </ul>


      </div>



    </div>







    <div class="footer-bottom">


      <p>

        © {{year}}
        DAMIAN PREMIUM Tours.
        Todos los derechos reservados.

      </p>


    </div>



  </div>


</footer>