@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
  --primary:#052f61;
  --secondary:#d6a23c;
  --dark:#081b33;
  --light:#ffffff;
  --gray:#f5f5f5;

  --shadow:0 10px 30px rgba(0,0,0,.12);
  --radius:18px;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Poppins',sans-serif;
  overflow-x:hidden;
  background:#fff;
  color:#222;
}

a{
  text-decoration:none;
}

img{
  max-width:100%;
  display:block;
}

.btn-gold{

    background:#d6a23c;

    color:#052f61 !important;

    transition:.3s;

}

.btn-gold:hover{

    background:#c79223;

    transform:translateY(-3px);

}

.container{

    width:min(90%,1200px);

    margin:auto;

}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 90px;
}
